body{

    background:#0f172a;

    color:white;

    font-family:Arial;

    margin:0;

}

.container{

    width:90%;

    max-width:700px;

    margin:auto;

    padding:30px;

}

h1{

    text-align:center;

}

.subtitulo{

    text-align:center;

    color:#b8c4d6;

    margin-bottom:35px;

}

.card{

    background:#1e293b;

    padding:20px;

    margin-bottom:18px;

    border-radius:15px;

    box-shadow:0 0 15px rgba(0,0,0,.35);

}

.card h2{

    margin:0;

}

.card p{

    font-size:30px;

    margin-top:10px;

    font-weight:bold;

}